* {
  color: $secondary-color;
  font-family: Verdana, Geneva, sans-serif
}

h1 {
  color: $primary-color;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: $primary-color;

  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

.ui.segment {
  border-radius: 0 !important;
  box-shadow: 0 0 0 0 !important;
  border: 0;
}

nav.ui.segment {
  background-color: $primary-color;
}

#search-area {
  margin: 0;
  padding: 1em 3em;

  input {
    height: 3em;
    border-radius: 0;
    font-weight: bold;
    font-size: 16px;
    color: $secondary-color;
  }
}

#stories {
  padding: 3em;
  background-color: #f5f5f5;
}

article.row {
  @include story-box();

  &.collapsed {
    margin-bottom: 2rem;
  }
}

div.row.comments {
  @include story-box();

  padding-top: 1.7rem !important;
  border-top: 1px solid #DADADA;

  .ui.segment {
    padding: 0 !important;
    margin: 0 !important;

    &:not(:first-child) {
      margin-top: 1.7rem !important;
    }
  }
}
